.gauge {
  width: 100%;
  height: 20px;
  background-color: oklch(98.4% 0.019 200.873);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.fill {
  height: 100%;
  border-radius: 10px;
  background-color: oklch(54.6% 0.245 262.881);
  width: 0%; /* JS로 동적으로 설정 */
  transition-property: all;
  transition-duration: 900ms;
}
